// Env and Startup

prefer-no-csd
environment {
    XCURSOR_SIZE "24"
    HYPRCURSOR_SIZE "24"
    QT_QPA_PLATFORMTHEME "kvantum"
    QT_STYLE_OVERRIDE "kvantum"
    BROWSER "firefox"
    VISUAL "zeditor"
    EDITOR "nvim"
}

screenshot-path "~/Media/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

spawn-sh-at-startup "noctalia &"
spawn-sh-at-startup "kitty --detach --title 'kitty-daemon' --single-instance sh -c 'exit'"
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "nm-applet &"
spawn-sh-at-startup "gsr-ui launch-hide"
spawn-sh-at-startup "vesktop --start-minimized"
spawn-sh-at-startup "steam -silent"
